{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Request Money - PayApp{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0"><i class="fas fa-hand-holding-usd me-2"></i>Request Money</h4>
            </div>
            <div class="card-body p-4">
                <div class="alert alert-info">
                    <div class="d-flex">
                        <div class="me-3">
                            <i class="fas fa-info-circle fa-2x"></i>
                        </div>
                        <div>
                            <p class="mb-0">Enter the email address of the person you're requesting money from and the amount you want.</p>
                        </div>
                    </div>
                </div>

                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}