{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Your Profile - PayApp{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0"><i class="fas fa-edit me-2"></i>Update Profile</h5>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

